main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.drag-container {
  position: relative;
  background: rebeccapurple;
  border: 1px solid red;

  & > .dragHandle {
    --handle-width: 10px;
    --handle-bg-color: violet;
    position: absolute;
    user-select: none;
    background: var(--handle-bg-color);
    cursor: grab;

    &#top {
      --handle-bg-color: violet;
      width: inherit;
      height: var(--handle-width);
      top: 0;
      left: 0;
      right: 0;
    }
    &#bottom {
      --handle-bg-color: tomato;
      width: inherit;
      height: var(--handle-width);
      bottom: 0;
      left: 0;
      right: 0;
    }
    &#left {
      --handle-bg-color: pink;
      height: inherit;
      width: var(--handle-width);
      top: 0;
      bottom: 0;
      left: 0;
    }
    &#right {
      --handle-bg-color: salmon;
      height: inherit;
      width: var(--handle-width);
      top: 0;
      bottom: 0;
      right: 0;
    }
  }
}
