main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-areas:
    "card1 card2"
    "card3 card3";
  gap: 1rem;

  .resizable_card {
    --handle-width: 25px;

    position: relative;
    background: rgba(102, 51, 153, 0.514);
    border: 1px solid rgba(255, 0, 0, 0.733);

    & > .dragHandle {
      --handle-bg-color: violet;

      opacity: 0.5;
      position: absolute;
      user-select: none;
      background: var(--handle-bg-color);
      cursor: grab;

      &#top {
        width: inherit;
        height: var(--handle-width);
        top: 0;
        left: 0;
        right: 0;
      }
      &#bottom {
        width: inherit;
        height: var(--handle-width);
        bottom: 0;
        left: 0;
        right: 0;
      }
      &#left {
        height: inherit;
        width: var(--handle-width);
        top: 0;
        bottom: 0;
        left: 0;
      }
      &#right {
        height: inherit;
        width: var(--handle-width);
        top: 0;
        bottom: 0;
        right: 0;
      }
    }

    & > .resizable_card_inner {
      margin-left: calc(var(--handle-width) + 5px);
      margin-top: calc(var(--handle-width) + 5px);
    }

    &#card1 {
      grid-area: card1;
    }
    &#card2 {
      grid-area: card2;
    }
    &#card3 {
      grid-area: card3;
    }
  }
}
